<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student List</title>
</head>
<body>
<h1>Student List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Roll Number</th>
        <th>Gender</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.rollNumber}"></td>
        <td th:text="${student.gender}"></td>
        <td>
            <a th:href="@{/students/{id}(id=${student.id})}">View</a>
            <form th:action="@{/students/delete/{id}(id=${student.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/students/create-student">Create New Student</a>
<a href="/logout">Logout</a>
<!--<a th:href="@{/logout}">Logout</a>-->
</body>
</html>